
@model TestingProject.Models.LogoutViewModel

@{
ViewBag.Title = "Logout";
Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <p>Thank you for using our services</p>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>